@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

 *{
     font-family: 'Open Sans', sans-serif;
     text-decoration: none;
     -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
  }

 body {
  margin: 0;
  padding: 0;

}

 :root {
     --titles: 'Assistant', sans-serif;
     --paragraphs: 'Assistant', sans-serif;
     --para-font-size: 20px;
     --footer-color: #B5A496;
}
a.active,
  nav a:hover {
    /* background: rgba(0, 0, 0, 0.05); */
    transition: 0.5s;
}
.client_logo {
     width: 150px;
}
 h1, h2, h3, h4, h5 {
     font-weight: bolder;
     font-family: var(--titles);
}
 h3 {
     font-size: 28px !important;
}
 h5 {
     font-size: 18px;
     text-transform: uppercase;
}

.course_name,.activity{
  font-size: 1.5em;
}
 ul.topnav {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #fff;
}
 ul.topnav li {
     float: left;
}
 ul.topnav li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     color: #696969;
}
 ul.topnav li a:hover:not(.active) {
     color: #171717;
}
 ul.topnav li a.active {
     width: 100%;
}
 ul.topnav li.right {
     float: right;
     text-transform: uppercase;
     margin-top: 1.5%;
}
 #blur.active {
    /* filter: blur(20px);
     */
     pointer-events: none;
     user-select: none;
}



.enrolled-courses {
    padding-top: 0em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
}

.enrolled-course {
    padding: 7em;
}
.lesson_body {
    padding: 7em;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size:31px;
}

.course_dir,.next_lesson{
    padding: 10px;
    margin-right: 30%;
    background-color: #F5F5F5;
    border-radius: 15px;

}
.course_dir a {
  color: #000;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

.course_dir a:hover {
  color: #2048a3;
}

.course_dir i {
  color: #000;
}
.course_outline {
  padding-top: 5%;
  height: 100%;
  color: black !important;
}

.course_outline .column {
  background: #fcfafa;
  width: 33.33%;
}

.course_outline h4 {
  font-size: 20px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course_outline p {
  color: #666666;
  font-family: "Segoe UI";
  font-size: 15.5px;
}

.course_outline a {
  text-decoration: none;
  color: #000;
  padding-right: 100%;
}
.hoverTable {
  width: 50%;
  border-collapse: collapse;
  color: #666666;
  font-family: var(--titles);
  font-size: 15.5px;
  -webkit-transform: 0.4s;
          transform: 0.4s;
}


.hoverTable td {
  padding: 2%;
}

.hoverTable tr:hover {
  background-color: #f3f2f2;
}

.character_count{
    color:white;
    font-family: var(--titles);
}
.content h4 {
  font-size: 30px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content p {
  color: #666666;
  font-family: "Segoe UI";
  font-size: 17px;
}

/*Changed the Column Width from 50 to 75%*/
.content .column {
  width: 75%;
}

.content .column li {
  color: #666666;
  font-family: "Segoe UI";
  font-size: 15.5px;
}

.content .column:nth-of-type(2) {
  text-align: center;
}

.content .column textarea {
  width: 60%;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.content .column button {
  background: #2048a3;
  border: 0;
  color: #fff;
  letter-spacing: 1px;
  padding: 10px;
  width: 60%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  font-family: "Segoe UI Light";
  font-weight: bolder;
}

.content .column button:hover {
  background: #faaa36;
  color: #2048a3;
}
.course {
    width: 25%;
    margin: 1%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.course:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  }

.course-img img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*height: 375px;*/
    height: 100%;
  }

.course-desc {
    color: black;
    text-align: center;
    margin: 10%;
    font-size: 12.5px;
  }

.course-desc h1 {
    font-size: 25px !important;
  }

.course-desc p {
    margin: 5%;
  }
 .course-desc h1 {
     font-size:21px !important;
     margin:15px 0;
}

 p {
     font-size: var(--para-font-size) !important;
     color: black !important;
     font-family: var(--paragraphs) !important;
     line-height: 200% !important;
}
.lesson-section{
    display:flex;
}
 .lesson-container{
     margin-right: 10%;
     flex-basis: 80%;

}
.lesson-navigation{
    flex-basis: 20%;
}
.sidenav_title {
            margin: 0;
            font-weight: bolder;

            font-size: 12px !important;
            text-transform: uppercase;

            text-align: center;
            color: white !important;
            background-color: var(--footer-color);

            padding: 15px 20px;
        }
.sidenav {
            z-index: 1;
            width: 265px;
            position: fixed;
            background: #eee;
            overflow-y: scroll;
            padding-bottom: 20px;
            margin-left: 50px;
            height: 400px;
            margin-top: -80px;
            transition: 0.5s;
            right:10px;
            border-radius: 10px;
        }

        .sidenav a {
            padding: 10px 8px 6px 10px;
            text-decoration: none;
            color: #2196F3;
            display: block;
        }

        .sidenav a:hover {
            color: #064579;
        }
        .sidenav::-webkit-scrollbar {
            width: 10px;
        }

        .sidenav::-webkit-scrollbar-track {
            background-color: #d1d1d1;
        }

        .sidenav::-webkit-scrollbar-thumb {
            background-color: black;
        }

 .lesson-description{
     color:black ;
}
 .lesson-description ul {
     font-size: 22px !important;
     margin-left: 10px !important;
     padding-top: 0px !important;
     padding-bottom: 10px !important;
}
 .lesson-description ul li {
     color: black !important;
     font-size: 18px !important;
     font-family: var(--paragraphs) !important;
}




.lesson_body .buttons {
  background: #fafafa;
  padding: 1%;
}

.lesson_body .buttons button {
  background: #2048a3;
  border: 0;
  color: #fff;
  letter-spacing: 1px;
  padding: 1.5%;
  width: 10%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  font-family: var(--titles);
  font-weight: bolder;
}

.lesson_body .buttons button:hover {
  background: #faaa36;
  color: #2048a3;
}


 blockquote {
     font-size: 20px !important;
     font-weight: bold;
     display: block;
     border-width: 2px 0;
     border-style: solid;
     border-color: #eee;
     padding: 1.5em 0 0.5em;
     margin: 1.5em 0;
     position: relative;
     text-align: center;
}
 blockquote:before {
     content: '\201C';
     position: absolute;
     top: 0em;
     left: 50%;
     transform: translate(-50%, -50%);
     background: #fff;
     width: 3rem;
     height: 2rem;
     font: 6em/1.08em 'PT Sans', sans-serif;
     color: #666;
     text-align: center;
}
 blockquote:after {
     content: "\2013 \2003"attr(cite);
     display: block;
     text-align: right;
     font-size: 0.875em;
     color: #e74c3c;
}
 pre {
     margin-top: 0;
     margin-bottom: 1rem;
     overflow: auto;
     -ms-overflow-style: scrollbar;
     display: block;
     font-size: 87.5%;
     color: #212529;
     white-space: pre-wrap !important;
     page-break-inside: avoid;
     font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
     font-size: 1.3em;
     background-color: #f5f5f5;
     padding: 2%;
     width: 100%;
}
 pre code {
     font-size: inherit;
     color: inherit;
}
 code {
     font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
     font-size: 1em;
}
 code span {
     font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
     font-size: 1em;
}
 footer {
     padding: 7em;
     background: var(--footer-color);
     height: 100%;
}
 footer ul {
     list-style: none;
}
 footer ul li {
     font-size: 18px;
     padding-top: 5%;
     color: #b1b1b1;
}
 footer ul li:nth-of-type(1) {
     font-weight: bolder;
     text-transform: uppercase;
     letter-spacing: 4px;
     color: #fff;
}
 footer ul li a {
     -webkit-text-decoration-color: #666666;
     text-decoration-color: #666666;
     color: #fff;
     -webkit-transition: 0.4s;
     transition: 0.4s;
}
 footer ul li a:hover {
     color: #b1b1b1;
}
 @media only screen and (max-width: 600px) {
     .course {
         width: 80%;
    }
     ul.topnav li.right, ul.topnav li {
         float: none;
    }

}
