{% extends "base_template.html" %}
{% block content %}
<section class="enrolled-courses">
            <div class="courses">

                {% for course in courses %}
                    <a href="/course/{{ course.id }}" class="course">
                        <div class="course-img">
                            <img src="/static/images/{{ course.courseImage}}" alt="">
                        </div>
                        <div class="course-desc">
                            <h2 class="course_name">{{ course.courseName }}</h2>
                            <h2>{{geo}}</h2>
                        </div>
                    </a>
                {% endfor %}

            </div>
</section>
{% endblock %}

{% block javascript %}
<script href="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}